:root {
    --nav-background-color: rgb(49 52 61);
    --nav-txt-color: rgb(146 204 206);
    --main-txt-color : rgb(68 88 119);
}
a{
    
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 450px;
}

header{
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nav-background-color);
}
.headers{
    text-align: center;
}
.headers h1{
    background-color: var(--nav-txt-color);
    padding-right: 15px;
}
.navigations{
    align-items: center;
    padding-bottom: 10px;
    padding-top:10px;
}

.navigations nav a{
    color: var(--nav-txt-color);
    padding: 5px 15px;
    margin: 0px 5px;
    border-bottom: 3px solid var(--nav-txt-color);
    box-shadow: inset 0 0 0 0 var(--nav-txt-color);
    transition: color .1s ease-in-out, box-shadow .3s ease-in-out;
}

.navigations nav a:hover{
    box-shadow: inset 0 -100px 0 0 var(--nav-txt-color);
    color: var(--nav-background-color);
}

.hero-banner div{
    background-image: url(../images/hero-banner-gjk.png);
    background-repeat: no-repeat;
    background-position: 0% 45%;
    background-size: 100% 600px;
    width: 100%;
    height: 350px;
    background-color:rgb(25 92 138);
    background-size: 500px 350px;
    background-position: start;
    position: relative;
    
}

.hero-banner h2{
   background-color: var(--nav-txt-color);
   padding: 2px 10px 2px 10px;
   position: absolute;
   bottom: 4%;
   right: 8%;
}

.page-wrapper{
    padding: 2% 4% 3% 4%
}

 .page-section{
    color: var(--main-txt-color);
    
} 
.page-section h2{
    border-bottom: 2px solid var(--main-txt-color);
    border-right: none;
    text-align: start;
    padding: 20px 20px 0px 20px;
    margin-bottom: 10px;
}

.page-section article p{
    padding: 10px 0px 20px 20px;
    text-align: justify;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
}
.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    
}
.long-column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.double-column a,
.column a{
    overflow: hidden;
}
.double-column img,
.column img{
   width: 100%;
   height: 200px;
   object-fit: cover;
   object-position: 0px -50px;
   border: solid 5px var(--nav-txt-color);
}

#ambush-img{
    object-position: 0px 0px;
}
#ballistic-img, #fronts-img, #ectology-img {
    object-position: 0px -40px;
}

.work-banner{
    padding: 5px 0px 5px 20px;
}
.work-banner div{
    background-color: var(--nav-txt-color);
    position: absolute;
    bottom: 2em;
    padding: 10px 15px;
}
  
.work-banner a img{
    filter: grayscale(30%);
    filter: gray;
    filter: none;
    transition: 0.1s ease;
}

.work-banner a img:hover{
    filter: grayscale(100%);
    transition: all 0.1s ease;
    transform: scale(1.1);
}

.long-column ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

.long-column ul li {
    padding: 0em 0.5em;
}

.long-column ul li a{
    color: var(--main-txt-color);
    border-bottom: 2px solid var(--main-txt-color);
    padding: 5px 5px;
    box-shadow: inset 0 0 0 0 var(--main-txt-color);
    transition: color .1s ease-in-out, box-shadow .3s ease-in-out;
}

.long-column ul li a:hover{
box-shadow: inset 0 -100px 0 0 var(--main-txt-color);
color: white;
}

.link-elements{
    justify-content: start;
    align-items: start;
}

.long-column li {
    float: none;
}

@media screen and (min-width: 600px) {
    .work-banner {
        flex: 1;
    }
    .double-column {
      flex: 2;
    }
    .long-column {
        flex: 10;
    }
    .headers{
        text-align: center;
    }
    .navigations{
        align-items: center;
        padding-bottom: 10px;
    }

    .page-section{
        margin-top: 30px;
    }
    .page-section h2{
        padding: 20px 20px 0px 20px;
        margin-bottom: 20px;
    }
    .link-elements{
        justify-content: center;
        align-items: center;
    }
    .long-column li {
        float: left;
    }
    #ballistic-img, #fronts-img, #ectology-img{
        object-position: 0px 0px;
    }
  }

@media screen and (min-width: 850px) {
    .column {
      flex: 1;
    }
  
    .double-column {
      flex: 2;
    }
    .long-column {
        flex: 10;
    }

    .page-section{
        margin-top: 30px;
    }

    .page-section h2{
        border-right: 2px solid var(--main-txt-color);
        border-bottom: none;
        text-align: end;
        padding: 20px;
    }
    .big-pic{
        height: 400px !important;
    }

    .headers{
        flex: 1;
    }
    .headers h1{   
        margin: 10px 0px;
    }
    .navigations{
        flex: 2;
        align-items: end;
        margin-right: 8%;
    }
    
  }